Poverty drove poor Europeans to America; ongoing poverty drove them into the military as its lowest class,
the one's who died -- or lived in death. 

i. American Immigration
ii. Native Exile
iii. African Enslavement
iv. War, War, War 

https://en.wikipedia.org/wiki/List_of_wars_involving_the_United_States

War itself leads to poverty of the broken body and minds of the poor-driven-soldiers,
compounding their misery and alienation

